.q-list-question:hover {
	color: red;
	cursor: pointer;
}

.validation-error {
	font-size: 12px;
	color: red;
	padding-bottom: 10px;
}

.success-save {
	color: green;
	font-size: 12px;
	padding-top: 10px;
}